# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable giyou would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: home
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Geant4 @ Jefferson Lab
baseurl: /g4home # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
markdown: kramdown

theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# the vendor directory is added to allow github pages build
exclude:
   - .jekyll-cache/
   - .idea/
   - Gemfile
   - Gemfile.lock
   - README.md
   - todo
   - node_modules
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/

# shortcuts to symbols, accessible with {{ site.symbol_name }}
latestg4: "<b><i>11.4.0</i></b>"
allg4: "<b><i>11.4.0 - 11.3.2</i></b>"
supported_platforms:  "<b><i>Ubuntu 24.04 - Fedora 40 - AlmaLinux 9.4 - Debian 12 - Archlinux</i></b>"
ubuntu_container: "ghcr.io/gemc/g4install:11.4.0-ubuntu24"
fedora_container: "ghcr.io/gemc/g4install:11.4.0-fedora40"
alma_container:   "ghcr.io/gemc/g4install:11.4.0-almalinux9.4"
debian_container: "ghcr.io/gemc/g4install:11.4.0-debian-12"
archlinux_container: "ghcr.io/gemc/g4install:11.4.0-archlinux-latest"